<div class="admin-welcome-dt-links">
  <%= link_to Dt.url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/projekts_overview.jpg" %>
    <h4>
      Übersicht von Beteiligungsprojekten anderer Städte
    </h4>
  <% end %>

  <%= link_to Dt.platforms_overview_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/platforms_overview.jpg" %>
    <h4>
      Übersicht aller demokratie.today Consul Instanzen
    </h4>
  <% end %>
  <%= link_to Dt.app_store_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/app_store.jpg" %>
    <h4>
      Zum Consul App Store
    </h4>
  <% end %>
  <%= link_to Dt.ticket_system_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/ticket_system.jpg" %>
    <h4>
      Zum demokratie.today Ticketsystem
    </h4>
  <% end %>
  <%= link_to Dt.meetups_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/meetups.jpg" %>
    <h4>
      Zur Anmeldung des monatlichen Consul-Meetups
    </h4>
  <% end %>
  <%= link_to Dt.newsletter_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/newsletter.jpg" %>
    <h4>demokratie.today Newsletter</h4>
  <% end %>
  <%= link_to Dt.demo_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/demo.jpg" %>
    <h4>Zur Consul Demo</h4>
  <% end %>
  <%= link_to Dt.website_url, target: "_blank", class: "admin-welcome-dt-link-item" do %>
    <%= image_tag "custom/dt/website.jpg" %>
    <h4>Zur demokratie.today Webseite</h4>
  <% end %>
</div>

