<%= render "shared/globalize_locales", resource: @page %>

<%= translatable_form_for [:admin, @page], html: { class: "edit_page" } do |f| %>
  <% binding.pry %>
  <% if params[:type] == "landing" %>
    <%= f.hidden_field :type, value: "landing" %>
  <% end %>

  <%= render "shared/errors", resource: @page %>

  <div class="row">
    <div class="small-12 column">
      <hr>
    </div>

    <div class="small-12 medium-4 column">
      <h3><%= t("admin.site_customization.pages.form.options") %></h3>
      <%= f.label :status %>
      <% ::SiteCustomization::Page::VALID_STATUSES.each do |status| %>
        <%= f.radio_button :status, status %>
        <br>
      <% end %>

      <%= f.check_box :more_info_flag, class: "small" %>
      <%= f.check_box :print_content_flag %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.text_field :slug, size: 80, maxlength: 80,
        hint: sanitize(t("admin.site_customization.pages.new.slug_help")) %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <hr>
      <%= f.translatable_fields do |translations_form| %>
        <div class="small-12 column end">
          <%= translations_form.text_field :title %>
        </div>
        <div class="small-12 column">
          <%= translations_form.text_field :subtitle %>
        </div>
        <div class="column">
          <%= translations_form.text_area :content, class: "html-area admin" %>
        </div>
      <% end %>
    </div>
  </div>

  <% if params[:type] == "landing" %>
    <div class="row">
      <div class="column">
        <%= render Images::NestedComponent.new(f) %>
      </div>
    </div>
  <% end %>

  <% if params[:type] == "landing" %>
    <hr/>

    <div class="row">
      <div class="column">
        <div id="content-cards">
          <h3 class="inline-block">Inhaltskarten</h3>

          <table>
            <thead>
              <tr>
                <th></th>
                <th><%= t("custom.admin.deficiency_reports.statuses.status.id") %></th>
                <th><%= t("custom.admin.deficiency_reports.statuses.status.title") %></th>
                <th><%= t("admin.actions.actions") %></th>
              </tr>
            </thead>

            <tbody class="js-new-sortable" data-handle=".js-content-cards-reorder-handle" data-sort-url=<%= order_content_cards_admin_site_customization_content_cards_path %>>
              <% @content_cards.each do |card| %>
                <tr id="<%= dom_id(card) %>" data-record-id="<%= card.id %>">
                  <td style="text-align:center;">
                    <div type="button" class="reorder-button js-content-cards-reorder-handle" >
                      <i class="fa fa-solid fa-up-down-left-right"></i>
                    </div>
                  </td>
                  <td><%= card.id %></td>
                  <td><%= card.title %></td>
                  <td>
                    <%= render Admin::LivesubmitCheckbox::Component.new(
                      url: toggle_active_admin_site_customization_content_cards_path(card),
                      resource_name: "site_customization_content_card",
                      attribute_name: "active",
                      record_id: card.id,
                      current_value: card.active
                    ) %>
                  </td>

                  <td>
                    <%= render Admin::TableActionsComponent.new(card,
                                                                actions: [:edit]
                                                              ) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 large-3 margin-top column">
      <%= f.submit class: "button success expanded" %>
    </div>
  </div>
<% end %>
