<h2 class="inline-block"><%= t("custom.admin.poll_managers.index.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_poll_managers_path %>

<div id="poll_managers">
  <% if @poll_managers.any? %>
    <h3><%= page_entries_info @poll_managers %></h3>

    <table>
      <thead>
        <th scope="col"><%= Moderator.human_attribute_name(:name) %></th>
        <th scope="col" class="small-6"><%= Moderator.human_attribute_name(:email) %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @poll_managers.each do |poll_manager| %>
          <tr>
            <td>
              <%= poll_manager.name %>
            </td>
            <td>
              <%= poll_manager.email %>
            </td>
            <td>
              <%= render Admin::Roles::TableActionsComponent.new(poll_manager) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @poll_managers %>
  <% else %>
    <div class="callout primary">
      <%= t("custom.admin.poll_managers.index.no_poll_managers") %>
    </div>
  <% end %>
</div>
