<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.comment.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.comment.hi", username: @commentable.author.username) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(
      t("mailers.comment.text",
        comment_link: link_to(t("mailers.comment.comment_link_text"),
                              comment_url(@comment))
       ),
       attributes: %w[href]
    ) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.comment.sincerely") %>
    <br>
    <%= t("mailers.shared.signature") %>
  </p>
</td>
