<div class="custom-page--banner-wrapper">
  <div class="custom-page--banner">
    <div class="custom-page--banner-text-section-wrapper">
      <div class="custom-page--banner-text-section">
        <div class="custom-page--banner-title-wrapper">
          <% if show_embedded_controlls? %>
            <%= render Admin::Frame::FieldEditComponent.new(field_name: 'site_customization_page[title]') do %>
              <h1 class="custom-page--banner-title">
                <%= @custom_page.title %>
              </h1>
            <% end %>
          <% else %>
            <h1 class="custom-page--banner-title">
              <%= @custom_page.title %>
            </h1>
          <% end %>
        </div>

        <% if @custom_page.subtitle.present? || show_embedded_controlls? %>
          <% if show_embedded_controlls? %>
            <%= render Admin::Frame::FieldEditComponent.new(field_name: 'site_customization_page[subtitle]') do %>
              <div class="custom-page--banner-description">
                <% if show_embedded_controlls? %>
                  <%= @custom_page.subtitle.presence || " " %>
                <% else %>
                  <%= @custom_page.subtitle %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="custom-page--banner-description">
              <%= @custom_page.subtitle %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @custom_page.projekt.present? %>
        <div class="custom-page--banner-breadcrumbs">
          <%= helpers.breadcrumbs_links(@custom_page.projekt) %>
        </div>
      <% end %>
    </div>

    <% if @custom_page.image.present? || show_embedded_controlls? %>
      <%#= image_tag(url_for(@custom_page.image.attachment), class: "custom-page--banner-image" )  %>

      <% if @custom_page.image.present? %>
        <% big_projekt_image_url =
          polymorphic_path(@custom_page.image.attachment.variant(
            resize_to_limit: [1750, 900],
            saver: { quality: 80 },
            strip: true,
            format: "jpeg"
          ))
        %>
      <% end %>

      <% banner_image = capture do %>
        <%= link_to big_projekt_image_url, target: "_blank", class: "glightbox" do %>
          <span class="image-maximize-button">
            <i class="fas fa-magnifying-glass-plus"></i>
          </span>
          <%= render(
            Shared::ResourceImageComponent.new(
              image_url: @custom_page.image&.attachment&.variant(coalesce: true, gravity: "center", resize_to_fill: [620, 390]),
              image_placeholder_icon_class: "fa-comments",
              resource: @custom_page
            )
          ) %>
        <% end %>
      <% end %>

      <div class="custom-page--banner-image">
        <% if show_embedded_controlls? %>
          <div class="projekt-image-upload-wrapper js-projekt-image-uploader">
            <%= banner_image %>
            <img class="projekt-image-upload-preview js-projekt-image-upload-preview" src="" alt="">
            <label for="projektImageUploadInput" class="button -round-icon-button projekt-image-upload-button">
              <i class="fas fa-pencil-alt"></i>
            </label>
            <input
              id="projektImageUploadInput"
              type="file"
              class="d-none js-projekt-image-upload-input"
            >
            </input>
          </div>
        <% else %>
          <%= banner_image %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
