<td style="<%= css_for_mailer_content %>">
  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.budget_investment_feasible.title") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_feasible.hi", username: @author.username) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize(
      t("mailers.budget_investment_feasible.text",
        proposal_link: link_to(t("mailers.budget_investment_feasible.proposal_link_text"),
                               budget_investment_url(@investment.budget, @investment)),
        projekt_link_1: link_to(t("mailers.budget_investment_feasible.projekt_link_1_text"),
                                page_url(@projekt.page.slug)),
        projekt_link_2: link_to(t("mailers.budget_investment_feasible.projekt_link_2_text"),
                                page_url(@projekt.page.slug))
       ),
       attributes: %w[href]
    ) %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_feasible.sincerely") %>
    <br>
    <%= t("mailers.shared.signature") %>
  </p>
</td>
