<main class="user-resources-form <%= base_class_name %>">
  <%= translatable_form_for(resource, html: { class: "js-rich-text-form user-resource-form" }) do |f| %>
    <%= back_link %>

    <% labels_and_sentiments_html = capture do %>
      <% if show_labels_selector? %>
        <%= render Shared::SidebarCardComponent.new(
          title: projekt_phase.labels_name.presence || t("custom.shared.form.projekt_labels_label"),
          opened_on_mobile: true,
          icon_name: "tag",
        ) do |c| %>
          <%= render partial: "shared/user_resources_form/projekt_labels", locals: { f: f, projekt_phase: projekt_phase, model: resource } %>
        <% end %>
      <% end %>

      <% if show_sentiments_selector? %>
        <%= render Shared::SidebarCardComponent.new(
          title: projekt_phase.sentiments_name.presence || I18n.t("custom.shared.form.sentiment_label"),
          opened_on_mobile: true,
          icon_name: "heart",
        ) do |c| %>
          <%= render partial: "shared/user_resources_form/sentiments", locals: { f: f, projekt_phase: projekt_phase, model: resource } %>
        <% end %>
      <% end %>
    <% end %>

    <% sidebar_html = capture do %>
      <aside class="sidebar">
        <fieldset class="required-fields">
          <%= hidden_field_tag :order, params[:order] %>

          <div class="js-remove-on-mobile-section">
            <%= labels_and_sentiments_html %>
          </div>

          <% if show_documents_input? %>
            <%= render(Shared::SidebarCardComponent.new(
              title: "Dokumente hinzufügen",
              icon_name: "file")) do %>
              <div class="documents" id="attach-documents">
                <%= render "documents/nested_documents", f: f %>
              </div>
            <% end %>
          <% end %>

          <% if translations_interface_enabled? %>
            <%= render(Shared::SidebarCardComponent.new(
              title: "Sprachen",
              opened_on_mobile: true,
              icon_name: "language")) do %>
              <p>
              Wählen Sie aus, in welcher Sprache/welchen Sprachen Ihre Diskussion stattfinden soll:
              </p>
              <%= render "shared/globalize_locales", resource: resource %>
            <% end %>
          <% end %>

          <% if show_external_video_input? %>
            <%= render(Shared::SidebarCardComponent.new(
              title: "Video hinzufügen",
              opened_on_mobile: true,
              icon_name: "video")) do %>
              <p>
              Gibt es Videos, die Ihre Argumentation und Sichtweise stützen?
              Dann fügen Sie diese über einen Link hinzu.
              </p>
              <%= f.text_field :video_url, label: false, placeholder: "YouTube oder Vimeo-Link eingeben", class: "light-input" %>
            <% end %>
          <% end %>

          <%= f.invisible_captcha :subtitle %>

          <% if show_post_on_behalf_of_input? %>
            <%= render(Shared::SidebarCardComponent.new(
              title: "Veröffentlichen für",
              opened_on_mobile: true,
              icon_name: "user")) do %>
              <p>
              dieses Feld sehen nur Admin. Sie können hier eine Diskussion im Namen von jemandem erstellen.
              </p>
              <%= f.text_field :on_behalf_of, label: false, placeholder: "Namen eingeben...", class: "light-input" %>
            <% end %>
          <% end %>
      </aside>
    <% end %>

    <div class="flex-layout">
      <div class="main-column">
        <h1 class="user-resources-form--title">
          <%= form_title %>
        </h1>

        <div class="user-resources-form--description">
          <%= projekt_phase.projekt_selector_hint&.html_safe.presence ||
            helpers.render_custom_block("user_resource_form_#{resource.class.name.downcase}", default_content: t("custom.user_resources.form.page_description")) %>
        </div>

        <%= render "shared/errors", resource: resource %>

        <% if params[:origin].present? %>
          <%= hidden_field_tag :origin, params[:origin] %>
        <% end %>
      </div>
    </div>

    <div class="flex-layout">
      <div class="main-column">
        <div class="show-on-small-tablet js-remove-on-desktop-section">
          <%= labels_and_sentiments_html %>
        </div>

        <%= f.hidden_field :projekt_phase_id, value: projekt_phase.id %>

        <%= f.translatable_fields do |translations_form| %>
          <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

          <div class="user-resources-form--banner-editor <%= banner_class_name %>"
              style="<%= helpers.sentiment_color_style(resource.sentiment) %>">
              <div class="user-resources-form--title-wrapper">
                <%= translations_form.text_area :title,
                  maxlength: title_max_length,
                  data: suggest_data(resource),
                  label: false,
                  class: "user-resources-form--banner-editor-title",
                  placeholder: t("custom.#{i18n_scope}.form.title_placeholder"),
                  autocomplete: "off" %>
              </div>

              <% if show_image_input? %>
                <div class="banner-editor-image-attachment js-banner-editor-image-attachment">
                  <% f.object.build_image if f.object.image.nil? %>
                  <%= f.fields_for :image do |image_builder| %>
                    <%= render UserResources::ImageUploadComponent.new(image_builder, imageable: f.object) %>
                  <% end %>
                </div>
              <% end %>
          </div>
          <%= translations_form.text_area :description,
            value: AdminWYSIWYGSanitizer.new.sanitize(resource.description),
            maxlength: max_description_lenght,
            label: false,
            placeholder: descriotion_placeholder,
            class: "html-area #{helpers.ck_editor_class(current_user)}" %>
        <% end %>

        <% if resource.errors[:description].any? %>
          <p class="form-error is-visible"><%= resource.errors[:description].join(", ") %></p>
        <% end %>

        <% if show_map_input? %>
          <div class="new-card" id='map-container'>
            <%= render "map_locations/form_fields",
              form:          f,
              map_location:  resource.map_location || resource.projekt_phase.map_location || resource.build_map_location,
              label:         t("#{i18n_scope}.form.map_location"),
              help:          t("custom.user_resources.form.map_location_instructions"),
              mappable:      resource,
              projekt_phase: projekt_phase,
              parent_class:  "proposal" %>
          </div>
        <% end %>

        <div class="js-remove-on-desktop-section hide-on-desktop">
          <%= sidebar_html %>
        </div>

        <div class="user-resources-form--submit-section">
          <% if resource.new_record? %>
            <h3 class="user-resources-form--submit-section--privacy-policy">
              Datenschutzbestimmungen & Allgemeine Nutzerbedingungen
            </h3>

            <div>
              <%= f.check_box :resource_terms,
                title: t("custom.terms.resource_terms.title"),
                label: t("custom.terms.resource_terms.label",
                         privacy_link: link_to(
                           t("custom.terms.privacy_link.text"), "/privacy",
                           title: t("shared.target_blank"),
                           target: "_blank"
                         ),
                         terms_link: link_to(
                           t("custom.terms.terms_link.text"),
                           "/conditions",
                           title: t("shared.target_blank"),
                           target: "_blank"
                         )
                        ) %>
            </div>

          <% end %>
          <%= f.submit(class: "button", value: t("custom.user_resources.form.submit_button")) %>
        </div>
      </div>

      <div class="js-remove-on-mobile-section hide-on-mobile">
        <%= sidebar_html %>
      </div>
    </div>

  <% end %>
</main>
