<% if @custom_page.landing? %>
  <% provide(:hide_navigation_menu, true) %>
  <%= render "pages/landing_page_content" %>
<% else %>
  <%= content_for :body_class, "custom-page" %>
  <% provide :title do %><%= @custom_page.title %><% end %>

  <% provide :social_media_meta_tags do %>
    <%= render "shared/social_media_meta_tags",
      social_title: @custom_page.title,
      social_description: strip_tags(@custom_page.content).to_s[0..200],
      og_image_url: (@custom_page.image.present? ? polymorphic_path(@custom_page.image.attachment) : nil),
      social_url: page_url(@custom_page.slug),
      twitter_image_url: (@custom_page.image.present? ? polymorphic_path(@custom_page.image) : nil) %>
  <% end %>

  <% if @custom_page.projekt.present? && projekt_feature?(@custom_page.projekt, "general.vc_map_enabled") %>
    <% provide :vc_maps do %>
      <script id="vcmap-core" type="module" src="/vcmap/vcmap-core.js"></script>
    <% end %>
  <% end %>

  <style>
<% if @custom_page.image&.attached? %>
  .custom-page-banner {
    background-image: url("<%= url_for(@custom_page.image.attachment) %>");
    background-size: cover;
    background-position: center center;
  }
<% end %>
  </style>

  <main class="projekt-page js-projekt-page" data-projekt-id="<%= @custom_page.projekt&.id %>">
    <% if @custom_page.projekt.present? %>
      <div class="custom-fixed-tabs margin-bottom">
        <div class="custom-fixed-tabs--content">
          <div class="js-scroll-link custom-tab" data-anchor-id="projekt-body">
            Inhalt
          </div>
          <div class="js-scroll-link custom-tab" data-anchor-id="projekt-info">
            Info
          </div>
          <% if @custom_page.projekt.present? && @custom_page.projekt.projekt_phases.active.any? %>
            <div class="js-scroll-link custom-tab" data-anchor-id="projekt-particapation">
              Beteiligung
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render Projekts::BannerComponent.new(custom_page: @custom_page) %>

    <% if @custom_page.projekt.present? %>
      <div class="flex-layout">
        <div class="main-column">
          <div class="js-anchor-navigation-content" id="projekt-body">
            <% if @custom_page.content.present? || @custom_page&.projekt.new_content_block_mode? %>
              <div class="main-content-card">
                <% if @custom_page.content&.include?('template_projekt_library') %>
                  <%= render "projekt_library", projekt: @custom_page.projekt %>
                <% else %>
                  <%= render "custom_page_content" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div id="projekt-info">
          <%= render partial: 'pages/sidebar_new', locals: { projekt: @custom_page.projekt, id_prefix: "desktop" } %>
        </div>
      </div>

    <% else %>
      <div class="main-column">
        <%= render 'custom_page_content' %>
      </div>
    <% end %>

    <% if @custom_page.projekt.present? && @custom_page.projekt.projekt_phases.active.any? || embedded? %>
      <div class="js-anchor-navigation-content" id="projekt-particapation">
        <div class="projekt-footer-anchor" id="projekt-footer"> </div>
        <div class="projekt-footer flex-layout">
          <div class="full-width-column">
            <%= render Pages::Projekts::FooterPhasesComponent.new(@custom_page.projekt, @default_projekt_phase) %>
            <% if @default_projekt_phase.present? %>
              <div id="footer-content" class="js-projekt-footer-content">
                <%= render "pages/projekt_footer_new/#{@default_projekt_phase.name}" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </main>

  <script>
    App.Projekts.toggleDefaultProjekts();
  </script>
<% end %>
