<tr id="<%= dom_id(card) %>" class="homepage-card">
  <td>
    <%# <%= card.label %1><br> %>
    <%= card.title %>
  </td>
  <%# <td><%= card.description %1></td> %>
  <%# <td> %>
  <%#   <%= card.link_text %1><br> %>
  <%#   <%= card.link_url %1> %>
  <%# </td> %>

  <!-- remove conditional once specs have image validations -->
  <td>
    <% if card.image.present? %>
      <%= link_to t("admin.shared.show_image"), card.image.variant(:large),
                  title: card.image.title, target: "_blank" %>
    <% end %>
  </td>
  <td>
    <%= render Admin::TableActionsComponent.new(card, **options) %>
  </td>
</tr>
