<% header = local_assigns[:header] %>

<% if header.present? || @custom_page.image&.attached? %>
  <style>
      <% if header&.image&.attached? %>
        <% image = header.image %>
      <% elsif @custom_page.image&.attached? %>
        <% image = @custom_page.image %>
      <% end %>

      <% image_variant = image.attachment.variant(resize_to_limit: [1920, nil], saver: { quality: 85 }, strip: true, format: 'jpeg') %>

      .home-page .homepage-image-header{
        background-image: url("<%= polymorphic_path(image_variant) %>");
        background-size: cover;
        background-position: top;
      }

      .top-bar-background-wrapper {
        background: transparent;
      }
  </style>
<% end %>

<div class="homepage-image-header not-print">
  <div class="homepage-image-header--title-wrapper">
    <% show_title_and_subtitle =
      if @custom_page.landing?
        !@custom_page.landing_hide_title_and_subtitle
      else
        Setting["extended_option.general.title"].present?
      end
    %>

    <% if show_title_and_subtitle %>
      <div class="homepage-image-header--title">
        <div>
          <% if @custom_page&.landing? %>
           <%= @custom_page.title %>
          <% else %>
            <%= Setting["extended_option.general.title"] %>
          <% end %>
        </div>
        <div>
          <% if @custom_page&.landing? %>
           <%= @custom_page.subtitle %>
          <% else %>
            <b><%= Setting["extended_option.general.subtitle"] %></b>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= header_button_html %>
  </div>
</div>
